
.boton{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 12px;
    font-size: 23px;
    user-select: none;
    cursor: pointer;
}

.boton:hover{
    background-color: #4e4e4e;
}