
.input{
    height: 60px;
    width: auto;
    border-radius: 12px 12px 0 0 ;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    font-size: 23px;
    margin-top: 5px;
    overflow: hidden;
}